* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
}
.main {
  background: url(./images/pattern-background-desktop.svg) no-repeat;
  height: 100vh;
  width: 100%;
  background-size: cover;
}
.box {
  position: absolute;
  background-color: white;
  text-align: center;
  width: 460px;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
}
.box-img {
}
.title {
  font-size: 24px;
  color: hsl(223, 47%, 23%);
  margin-top: 20px;
}
.text span {
  display: block;
}
.text {
  color: gray;
  margin: 20px 0;
}
.box-price {
  display: flex;
  width: 360px;
  margin: 0 auto;
  align-items: center;
  background-color: hsl(225, 100%, 98%);
  padding: 20px;
  border-radius: 10px;
}
.icon {
  width: 60px;
  height: 60px;
}
.price {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.price div {
  margin-left: 20px;
}
.no-p {
  margin: 0;
}
.price a {
  color: gray;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.2s linear;
}
.price a:hover {
  color: hsl(245, 75%, 52%);
}
.btn-primary {
  max-width: 460px;
  margin: 10px 20px;
  margin-top: 20px;
  display: block;
  color: white;
  background-color: hsl(245, 75%, 52%);
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
  transition: all 0.2s linear;
}
.btn-primary:hover {
  opacity: 0.9;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.2);
}
.btn {
  max-width: 460px;
  margin: 10px 20px;
  margin-top: 20px;
  display: block;
  color: gray;
  text-decoration: none;
  padding: 10px 20px;
  margin-bottom: 20px;
  font-weight: 700;
  transition: all 0.2s linear;
  border-radius: 10px;
}
.btn:hover {
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2);
  color: #333;
}

@media screen and (max-width: 764px) {
  .main {
    background: url(./images/pattern-background-mobile.svg) no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover;
  }
  .box {
    width: 300px;
  }
  .box-price {
    width: 260px;
  }
  .btn,
  .btn-primary {
    width: 260px;
  }
  .icon {
    width: 40px;
    height: 40px;
  }
}
